<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container" style="text-align:center">
      <div style="margin-top: 100px;"></div>
        <h1>CONFIRMATION OF CREATION</h1>
        <p>Hello,</p>
        <p>
          We confirm that your course has been registered on our platform.
        </p>
        <p>
          We thank you for this.
        </p><br>
        <p> See you soon on <strong>Formatech.com</strong> !</p>
    </div> 
    <div class="container" style="text-align:center">
      <%= image_tag attachments['Formatech-logo.png'].url%>
    </div> 
  </body>
</html>