<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container" style="text-align:center">
      <div style="margin-top: 100px;"></div>
        <h1>CONFIRMATION OF DELETION</h1>
        <p>Hi,</p>
        <p>
          we confirm that your course has been deleted.
        </p>
        <p> 
          See you soon on <strong>Formatech.com</strong> !
        </p>
        <br>
    </div> 
    <div class="container" style="text-align:center">
      <%= image_tag attachments['Formatech-logo.png'].url%>
    </div> 
  </body>
</html>