<div style="margin-top:100px"></div>
<footer>
<div style="margin-top:20px"></div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
     <h6 class="text-uppercase fw-bold mb-4 text-light">Get connected with us on social media</h6>
    </div>
    <div class="col-sm">
      <p>
        <a class="btn btn-primary" id="footer-icon" style="background-color: #ac2bac; border: 1px solid white;" href="https://www.youtube.com/watch?v=MWJqBEV1his" target="_blank"><i class="fab fa-instagram"></i></a>
      </p>
    </div>
    <div class="col-sm">
      <p>
        <a class="btn btn-primary" id="footer-icon" style="background-color: #55acee; border: 1px solid white" href="https://www.youtube.com/watch?v=jr-WIrDd2Oc" target="_blank"><i class="fab fa-twitter"></i></a>
      </p>
    </div>
    <div class="col-sm">
      <p>
        <a class="btn btn-primary" id="footer-icon" style="background-color: #3b5998; border: 1px solid white" href="https://www.youtube.com/watch?v=xO4LaAHJqxw" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </p>
    </div>
    <div class="col-sm">
      <p>
        <a class="btn btn-primary" id="footer-icon" style="background-color: #0274b3; border: 1px solid white" href="https://www.youtube.com/watch?v=NsLKQTh-Bqo" target="_blank"><i class="fab fa-linkedin"></i></a>
      </p>
    </div>
    <div class="col-sm">
      <p>
        <a class="btn btn-primary" id="footer-icon" style="background-color: #3b5998; border: 1px solid white" href="https://github.com/Raphael1894/formatech" target="_blank"><i class="fab fa-github-square"></i></a>
      </p>
    </div>
  </div>
</div>
  <div class="text-center p-4 text-light" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="/">https://formatech-org.herokuapp.com/</a>
  </div>
</footer>
